<!DOCTYPE html>
<html>
  <head>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/aboutUs.css') }}"
    />
  </head>
  <div class="wrapper">
    <h1>Meet The Team</h1>
    <div class="team">
      <div class="team_member">
        <div class="team_img">
          <!--   <img src=> -->
        </div>
        <h3>Robert Webb</h3>
        <p class="role">Role</p>
        <p>
  
        </p>
      </div>

      <div class="team_member">
        <div class="team_img"></div>
        <h3>Emmandra Wright</h3>
        <p class="role">Role</p>
        <p>
  
        </p>
      </div>

      <div class="team_member">
        <div class="team_img"></div>
        <h3>Raphael Njoku</h3>
        <p class="role">Role</p>
        <p>
 
        </p>
      </div>

      <div class="team_member">
        <div class="team_img"></div>
        <h3>Tiana Fitzgerald</h3>
        <p class="role">Role</p>
        <p>
    
        </p>
      </div>

      <div class="team_member">
        <div class="team_img"></div>
        <h3>Vedant Dhopte</h3>
        <p class="role">Role</p>
        <p>
 
        </p>
      </div>
    </div>
  </div>
</html>
