<!DOCTYPE html>

<html>
    <head>
        <Title> About Us </Title>
        <!--  <link rel="stylesheet" href="aboutUs2.css"> --> 

         <link
              rel="stylesheet"
              href="{{ url_for('static', filename='css/aboutUs2.css') }}"
            />
          </head> 

          {% include 'head.html' %}

          <h1>Meet the Team</h1>
<style>
  .row {
    text-align: center;
  }
</style>
    </head>
    <div class="container marketing">

        <body>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQH4Fmb_21PcNA/profile-displayphoto-shrink_400_400/0?e=1611187200&amp;v=beta&amp;t=_47MzL665xaXqHFBC9sAjvzZvncXxbV-CJcy9yM0p0U"
                 class="rounded-circle" width="140" height="140">
        <h2>Robert Webb</h2>
        <p>Put some details here.</p>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/toussaint-webb-b8b425173" target="_blank" role="button">Connect »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFOANdCQev_yg/profile-displayphoto-shrink_400_400/0?e=1611187200&amp;v=beta&amp;t=rUlIqOgCsXuo1tDYAnAQg1yaHgf-ySfVNf8cXm49Q6Y"
        class="rounded-circle" width="140" height="140">
        <h2>Emmandra Wright</h2>
        <p>Put some details here.</p>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/emmandra-wright" target="_blank" role="button">Connect »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHQMoS-1pQPmw/profile-displayphoto-shrink_400_400/0?e=1611187200&amp;v=beta&amp;t=_YNm00AeLVCauZwb8ymnll5HBwG5UNreTc5IOaRfYGM"
        class="rounded-circle" width="140" height="140">
        <h2>Tiana Fitzgerald</h2>
        <p>Put some details here.</p>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/tiana-fitzgerald-409913106" target="_blank" role="button">Connect »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
        <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
          <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEuWUwlTZqSLw/profile-displayphoto-shrink_400_400/0?e=1611187200&amp;v=beta&amp;t=gtZxJjrs8fMbB3RbGFOzE9smsmtNJxPY_MXcauQCKSw"
        class="rounded-circle" width="140" height="140">
        <h2>Vedant Dhopte</h2>
        <p>Put some details here.</p>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/vedant-d-6b2880121" target="_blank" role="button">Connect »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <img src="https://media-exp1.licdn.com/dms/image/C5603AQF5LM5U4N2WBA/profile-displayphoto-shrink_400_400/0?e=1611187200&amp;v=beta&amp;t=3lTfdXwW9xPqAwOY0-6o3KWsqrYic9ijwIqiGNSSQO4"
        class="rounded-circle" width="140" height="140">
        <h2>Raphael Njoku</h2>
        <p>Put some details here.</p>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/raphael-njoku" target="_blank" role="button">Connect »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

</body>
<!--    <body>-->

<!--          <div class="teamMember">-->
<!--            <h2> <strong>Robert Webb</strong></h2>-->
<!--            <p> Description </p>-->

<!--            &lt;!&ndash;<img src=  &ndash;&gt;-->

<!--          </div>-->


<!--          <div class="teamMember"> -->
<!--            <h2> <strong>Emmandra Wright</strong></h2>-->
<!--            <p> Description </p>-->
<!--  -->
<!--            &lt;!&ndash;<img src=  &ndash;&gt;-->
<!--  -->
<!--          </div>-->


<!--          <div class="teamMember"> -->
<!--            <h2> <strong>Vedant Dhopte</strong></h2>-->
<!--            <p> Description </p>-->
<!--  -->
<!--            &lt;!&ndash;<img src=  &ndash;&gt;-->

<!--          </div>-->

<!--          <br>-->

<!--        <div class="teamMember2"> -->
<!--          <h2> <strong>Tiana Fitzgerald</strong></h2>-->
<!--          <p> Description </p>-->
<!--  -->
<!--          &lt;!&ndash;<img src=  &ndash;&gt;-->
<!--  -->
<!--        </div>-->


<!--        <div class="teamMember2"> -->
<!--          <h2> <strong>Raphael Njoku </strong></h2>-->
<!--          <p> Description </p>-->
<!--  -->
<!--          &lt;!&ndash;<img src=  &ndash;&gt;-->
<!--  -->
<!--        </div>-->

        <link href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="Stylesheet"></link>
        <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"> </script>
        <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
        <script>
    
          'use strict';
    
    
          function handleResponse(response){
            // return array depending on search
    
            try
            {
              let results = response;
    
                      // call jQuery autocomplete on said list
              $("#searchQuery").autocomplete({
                source: results
              });
    
            }
            catch(e){
              console.log("error: ", e);
            }
    
    
          }
    
    
          let request = null;
    
          function getResults(){
    
            let searchType = $('#searchType1').val();
            searchType = encodeURIComponent(searchType);
            console.log("searchType: ", searchType);
    
            let query = $('#searchQuery').val();
         
            query = encodeURIComponent(query);
            console.log("query: ", query);
    
            if (searchType !== '' || searchType !== null){
              if(query !== null || query.trim() !== ''){
                let url = 'autoComplete?searchType=' + searchType + "&query=" + query
              
                if (request != null) {
                  request.abort();
                }
    
                request = $.ajax(
                  {
                    type: 'GET',
                    url: url, 
                    success: handleResponse
                  }
    
                );
              }
            }
    
        }
          function setup(){
            $('#searchQuery').focus();
            $('#searchQuery').on('input', getResults);
          }
          $('document').ready(setup);
        </script>

        {% include 'footer.html' %}

    </body>

</html>

       
    

























</html>


