<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/aboutUs.css') }}"
    />
    
    <!-- <link rel="stylesheet" href="aboutUSscss"> -->

<!--   <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/aboutUs.css') }}"
    />
  </head> -->
  <body>
    {% include 'header.html' %}
  <!-- <div class="wrapper">
    <h1>Meet The Team</h1>
    <div class="team">
      <div class="team_member">
        <div class="team_img">
          
        </div>
        <h3>Robert Webb</h3>
        <p class="role">Role</p>
        <p>
  
        </p>
      </div>

      <div class="team_member">
        <div class="team_img"></div>
        <h3>Emmandra Wright</h3>
        <p class="role">Role</p>
        <p>
  
        </p>
      </div>

      <div class="team_member">
        <div class="team_img"></div>
        <h3>Raphael Njoku</h3>
        <p class="role">Role</p>
        <p>
 
        </p>
      </div>

      <div class="team_member">
        <div class="team_img"></div>
        <h3>Tiana Fitzgerald</h3>
        <p class="role">Role</p>
        <p>
    
        </p>
      </div>

      <div class="team_member">
        <div class="team_img"></div>
        <h3>Vedant Dhopte</h3>
        <p class="role">Role</p>
        <p>
 
        </p>
      </div>
    </div> -->
    <h1>Meet the Team</h1>
    <div class="overall-wrapper">
    <div class="card-wrapper">
        <img class="card-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/440px-SNice.svg.png" alt="Card image cap">
      <div class="card-text">
        <h5>Name</h5>
        <p>Filler text to test how long the textbox extends: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat dapibus ante. Donec a feugiat tellus, vel iaculis nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae fringilla erat, at ullamcorper tellus. Duis laoreet sapien eu posuere ullamcorper. Aliquam erat volutpat. Mauris hendrerit consequat dui, ac cursus arcu blandit vel. Nunc eu iaculis felis. Nulla vel ante hendrerit, vulputate dui eu, venenatis tellus. </p>
        <a class="btn btn-info" href="https://www.linkedin.com/" role="button">LinkedIn</a>
      </div>
    </div>
    <div class="card-wrapper">
      <img class="card-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/440px-SNice.svg.png" alt="Card image cap">
    <div class="card-text">
      <h5>Name</h5>
      <p>What I do at Princeton and on this project</p>
      <a class="btn btn-info" href="https://www.linkedin.com/" role="button">LinkedIn</a>
    </div>
  </div>
  <div class="card-wrapper">
    <img class="card-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/440px-SNice.svg.png" alt="Card image cap">
  <div class="card-text">
    <h5>Name</h5>
    <p>What I do at Princeton and on this project</p>
    <a class="btn btn-info" href="https://www.linkedin.com/" role="button">LinkedIn</a>
  </div>
</div>
<div class="card-wrapper">
  <img class="card-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/440px-SNice.svg.png" alt="Card image cap">
<div class="card-text">
  <h5>Name</h5>
  <p>What I do at Princeton and on this project</p>
  <a class="btn btn-info" href="https://www.linkedin.com/" role="button">LinkedIn</a>
</div>
</div>
<div class="card-wrapper">
  <img class="card-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/440px-SNice.svg.png" alt="Card image cap">
<div class="card-text">
  <h5>Name</h5>
  <p>What I do at Princeton and on this project</p>
  <a class="btn btn-info" href="https://www.linkedin.com/" role="button">LinkedIn</a>
</div>
</div>
</div>
    {% include 'footer.html' %}
  </body>
</html>
