<!DOCTYPE html>

<html>
    <head>
        <Title> About Us </Title>
        <!--  <link rel="stylesheet" href="aboutUs2.css"> --> 

         <link
              rel="stylesheet"
              href="{{ url_for('static', filename='css/aboutUs2.css') }}"
            />
          </head> 

          {% include 'header.html' %}

          <h1>Meet the Team</h1>

    </head>

    <body>

          <div class="teamMember"> 
            <h2> <strong>Robert Webb</strong></h2>
            <p> Description </p>

            <!--<img src=  -->

          </div>


          <div class="teamMember"> 
            <h2> <strong>Emmandra Wright</strong></h2>
            <p> Description </p>
  
            <!--<img src=  -->
  
          </div>


          <div class="teamMember"> 
            <h2> <strong>Vedant Dhopte</strong></h2>
            <p> Description </p>
  
            <!--<img src=  -->

          </div>

          <br>

        <div class="teamMember2"> 
          <h2> <strong>Tiana Fitzgerald</strong></h2>
          <p> Description </p>
  
          <!--<img src=  -->
  
        </div>


        <div class="teamMember2"> 
          <h2> <strong>Raphael Njoku </strong></h2>
          <p> Description </p>
  
          <!--<img src=  -->
  
        </div>


        {% include 'footer.html' %}

    </body>

</html>

       
    

























</html>


