<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" type="text/css" href="aboutUs.css" /> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/aboutUs.css') }}"
    />
  </head>
  <div class="wrapper">
    <h1>Meet The Team</h1>
    <div class="team">
      <div class="team_member">
        <div class="team_img">
          <!--   <img src="https://i.imgur.com/2pGPLrl.png" alt="Team_image"> -->
        </div>
        <h3>Robert Webb</h3>
        <p class="role">Role</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. S uspendisse
          vel scelerisque nulla, semper tempor velit. Integer purus lorem,
          lobortis et facilisis et, ultrices et libero.
        </p>
      </div>

      <div class="team_member">
        <div class="team_img"></div>
        <h3>Emmandra Wright</h3>
        <p class="role">Role</p>
        <p>
          Praesent sed felis cursus, facilisis turpis et, eleifend libero.
          Aliquam erat volutpat. Aliquam ut consequat urna.
        </p>
      </div>

      <div class="team_member">
        <div class="team_img"></div>
        <h3>Raphael Njoku</h3>
        <p class="role">Role</p>
        <p>
          Proin vestibulum ipsum turpis, eget pulvinar orci laoreet ut. Donec
          velit ligula, tempor non volutpat quis, sagittis sit amet dolor.
        </p>
      </div>

      <div class="team_member">
        <div class="team_img"></div>
        <h3>Tiana Fitzgerald</h3>
        <p class="role">Role</p>
        <p>
          Vestibulum ultricies sem nec nulla aliquam varius. Nam finibus
          condimentum felis, eget sollicitudin felis maximus ac.
        </p>
      </div>

      <div class="team_member">
        <div class="team_img"></div>
        <h3>Vedant Dhopte</h3>
        <p class="role">Role</p>
        <p>
          Nam venenatis laoreet commodo. Nunc tincidunt eu ipsum vel viverra.
          Sed ac finibus ipsum.
        </p>
      </div>
    </div>
  </div>
</html>
