<!DOCTYPE html>

<html>
    <head>
        <Title> About Us </Title>
        <!--  <link rel="stylesheet" href="aboutUs2.css"> --> 

         <link
              rel="stylesheet"
              href="{{ url_for('static', filename='css/aboutUs2.css') }}"
            />
          </head> 

    </head>

    {% include 'header.html' %}

    <h1>Meet the Team</h1>

    <body>
     

        <div class="teamMember"> 
            <h2> <strong>Robert Webb</strong></h2>
            <p> Description </p>

           <!-- <img src=  --> 

        </div>

      <!--  <table> 





        </table>    -->


        {% include 'footer.html' %}

    </body>

</html>

       
    

























</html>


