<!DOCTYPE html>
<html>
<head>
    {% for dict in results %}
    <meta id="highestBid" data-name="{{dict['highestBid']}}">
    <meta id="buyNow" data-name2="{{dict['buyNow']}}">
    <meta id="minPrice" data-name3="{{dict['minPrice']}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>

    <!--script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></!--script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script-->

      {% include 'head.html' %}
    <div class="buyer-container">
      <div class="img-container">
      <img class="body-img" src="{{images[dict['images']]}}" width="225" height="160"></img>
      </div>
      <div class="info-container">
      <h1>{{dict["title"]}}</h1>
      <div><span>Authors:</span> {{dict["authors"]}}</div>
      <div><span>ISBN:</span>{{dict["isbn"]}}</div>
      <div><span>Course:</span> {{dict["crscode"]}} -- {{dict["crstitle"]}}</div>
      <hr>
      <div class="another-container">
      <div class="book-info">
      <div><span>Seller:</span> {{dict["sellerId"]}}</div>
      <div><span>Condition:</span> {{dict["condition"]}}</div>
      <div><span>Lowest Ask:</span> ${{dict["minPrice"]}}</div>
      <div><span>Highest Bid:</span> ${{dict["highestBid"]}}</div>
    
      <div><span>Buy Now Price:</span> ${{dict["buyNow"]}}</div>
    </div>
      <div class="purchase-info">  
      {% set message = "Are you sure you would like to buy this item at the Buy Now Price?" %}
           <form action="/buyerPage?bookid={{uniqueId}}&buyNow={{dict['buyNow']}}" id="buyNowForm">
              <button class="btn btn-primary width" type="submit" form="buyNowForm" onclick="confirm({{message}})" value="Submit">
              Buy Now
              </button>
           </form>
    {% endfor %}
    
    
    <div>
      <form action={{url}} method="POST" id="submitBidForm" enctype="multipart/form-data">
      <div class="form-group col-md-6">
        <label for="inputCourseTitle" class="form-label">Make a Bid</label>
        {% set url = "congratsPage?bookid=" + uniqueId %}
        <input type="number" class="form-control" name="bid" id="userBid" placeholder="20">
      </div>
      <button
      class="btn btn-primary width"
        form="submitBidForm"
        value="Submit"
        onclick="return verifyBid();"> SUBMIT
    </button>
    </form>
     
    </div>
  </div>
  </div>
</div>
</div>
    <link href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="Stylesheet"></link>
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"> </script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
    <script>

      'use strict';

      function verifyBid(){
        let bid = $('#userBid').val();
        let highestBid = $('#highestBid').data('name');
        let buyNow = $('#buyNow').data('name2');
        let minPrice = $('#minPrice').data('name3');


        // checking isbn has no unique characters
        let ascii = /[`!@#$%/^&*~()_/-/+/={}?<>,:;\[\]\-|\'\\\/""]/;
        if (ascii.test(bid)){
          alert('Bid should be a numerical value with no special characters, please make sure to omit hyphens');
          return false;
        }

         // parse to float
        bid = parseFloat(bid, 10.00);
        console.log("bid: ", bid);
        minPrice = parseFloat(minPrice, 10.00);
        highestBid = parseFloat(highestBid, 10.00);
        buyNow = parseFloat(buyNow, 10.00);
        if (Number.isNaN(bid)){
          alert("Please enter a numerical value, no letters or special characters");
          return false;
        }

        // check for letters
        if ((/[a-zA-Z]/).test(bid)){
          alert("Please enter a numerical value, no letters");
          return false;
        } 

        if (bid < 0){
          alert("Bid cannot be a negative number");
          return false;
        }

        if (bid < minPrice){
          alert("Bid cannot be less than minimum price");
          return false;
        }
        // higher than buy now price 
        if (bid > buyNow) {
          alert("You cannot bid higher than the buy now price");
          return false;

        } else if (bid < highestBid){ // less than highest bid
          if (confirm('Are you sure you would like to bid this amount, it is lower than the highest current bid?')){
            return true;
          }
          else{
            return false;
          }
        } else if (bid === highestBid){
          if (confirm('Are you sure you would like to bid this amount, it is the same as the current highest bid?')){
            return true;
          }
          else{
            return false;
          }

        }  else {
          if (confirm('Are you sure you would like to bid this amount?')){
            return true;
          }
          else{
            return false;
          }
        }

        return true;
      }

      function buyNow(){
        if(confirm("Are you sure you would like to buy this item at the Buy Now Price?")){
          return true;
        }
        else{
          return false;
        }

      }

      function handleResponse(response){
        // return array depending on search

        try
        {
          let results = response;

                  // call jQuery autocomplete on said list
          $("#searchQuery").autocomplete({
            source: results
          });

        }
        catch(e){
          console.log("error: ", e);
        }


      }


      let request = null;

      function getResults(){

        let searchType = $('#searchType1').val();
        searchType = encodeURIComponent(searchType);
        console.log("searchType: ", searchType);

        let query = $('#searchQuery').val();
     
        query = encodeURIComponent(query);
        console.log("query: ", query);

        if (searchType !== '' || searchType !== null){
          if(query !== null || query.trim() !== ''){
            let url = 'autoComplete?searchType=' + searchType + "&query=" + query
          
            if (request != null) {
				      request.abort();
			      }

			      request = $.ajax(
				      {
					      type: 'GET',
					      url: url, 
					      success: handleResponse
				      }

			      );
          }
        }

		}
      function setup(){
        $('#searchQuery').focus();
        $('#searchQuery').on('input', getResults);
      }
      $('document').ready(setup);
    </script>




    {% include 'footer.html' %}
  </body>
</html>
