<!DOCTYPE html>
<html>
  <head>
    <title>Buyers Page</title>
  </head>
  <body>
    {% include 'header.html' %}

    <h1>{{results[7]}}</h1>
    <img src={{images[0]}} width="225" height="160"></img>
    <div>ISBN: {{results[1]}}</div>

    <div>Lowest Ask: {{results[3]}}</div>
    <div>Buy Now: {{results[4]}}</div>
    <div>
      <div>Make a Bid:<form></form></div>
      <button>SUBMIT</button>
    </div>
    <div>Seller: {{results[0]}}</div>
    {% include 'footer.html' %}
  </body>
</html>

<!-- # from results, we get
    (listing.sellerID, listing.isbn, listing.condition, listing.minPrice,
                           listing.buyNow, listing.listTime, listing.images, book.title,
                           book.authors[0].name, course.coursenum, course.coursename)