<!DOCTYPE html>
<html>
  <head>
    <title>Buyers Page</title>
  </head>
  <body>
    {% include 'header.html' %}

    <h1>{{results[7]}}</h1>
    <img src={{images[0]}} width="225" height="160"></img>
    <div>Authors: {{results[8]}}</div>
    <div>ISBN: {{results[1]}}</div>
    <div>Course: {{results[9]}} -- {{results[10]}}</div>
    <hr>
    <div>Seller: {{results[0]}}</div>
    <div>Condition: {{results[2]}}</div>
    <div>Lowest Ask: {{results[3]}}</div>
    <div>Buy Now: {{results[4]}}</div>
    <div>Highest Bid: {{results[12]}}</div>
    <div>
      <div>Make a Bid:
        <form action="buyerPage?bookid={{listing}}" method="POST" id="submitBidForm">
        <input type="text" name="bid" /> (example input: 19.99)
        </form>
      </div>
      <button
      type="submit"
      form="submitBidForm"
      onclick="confirm('Are you sure you would like to bid this amount?')"
      value="Submit">
      Submit
    </button>
    </div>
    {% include 'footer.html' %}
  </body>
</html>

<!-- # from results, we get
    (listing.sellerID, listing.isbn, listing.condition, listing.minPrice,
                           listing.buyNow, listing.listTime, listing.images, book.title,
                           book.authors[0].name, course.coursenum, course.coursename,
                           listing.uniqueID, listing.highestBid)