<!DOCTYPE html>
<html>
    <head>
        <title> Checkout </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    
    </head>

    <header>
        {% include 'head.html' %}

    </header>

    <body>        

            <div class ="container">
              <div class="col-sm-12">
                <div class="jumbotron">
                  
                  {% if indicator == 1: %}
                  <h1><center>Congratulations!</center></h1>
                  <br>

                  <p> Please check your venmo for a request for $32 from one of our team members. You will recieve 
                    an email confirmation once your payment has been recieved along with next action steps.
                    Once we recieve confirmation from you, that you have recieved the book, the money will
                    be released to the seller. If for some reason you never recieve the book. The money will
                    be released back to you.
                    <br>
                    <br>
                    Thank you,
                    <br>
                    The Book-Exchange team
                  </p>


                  {% else: %}

                  <h1><center>Hi {{username}}, Let's complete your purchase</center></h1>
               
                    
                 
                  <form action="/checkout" method="POST" id="submitBookForm" enctype="multipart/form-data">
                  


                    <div class="row">
                      <div class="col-md-6">
                        <label for="inputUsername" class="form-label">Venmo Username</label>
                        <input type="text" class="form-control" name="username" id="inputUsername" placeholder="Ex: Michael-Jordan" required>
                        <div class="invalid-feedback">
                          venmo username is required
                        </div>
                      </div>

                    </div>

                    <button
                            class="btn orange" 
                            form="submitBookForm"
                            onclick="return verifyUsername();"
                            value="Submit"> Submit
                    </button> 
                  </form>
                </div>
              </div>
            </div>

         {% endif %}

 


            {% include 'footer.html' %}
    </body>

    

    <link href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"> </script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script>


    'use strict';

    function verifyUsername(){

        let venmoUsername = $('#inputUsername').val()
        console.log("venmoUsername: ", isbn);
        if (venmoUsername == null)
        alert('All required fields are not filled, please make sure you complete all required fields!');
          return false;


    }

        $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
    })

    function handleResponse(response){
        // return array depending on search

        try
        {
          let results = response;

                  // call jQuery autocomplete on said list
          $("#searchQuery").autocomplete({
            source: results
          });

        }
        catch(e){
          console.log("error: ", e);
        }


      }


      let request = null;

      function getResults(){

        let searchType = $('#searchType1').val();
        searchType = encodeURIComponent(searchType);
        console.log("searchType: ", searchType);

        let query = $('#searchQuery').val();
     
        query = encodeURIComponent(query);
        console.log("query: ", query);

        if (searchType !== '' || searchType !== null){
          if(query !== null || query.trim() !== ''){
            let url = 'autoComplete?searchType=' + searchType + "&query=" + query
          
            if (request != null) {
				      request.abort();
			      }

			      request = $.ajax(
				      {
					      type: 'GET',
					      url: url, 
					      success: handleResponse
				      }

			      );
          }
        }

		}
      function setup(){
        $('#searchQuery').focus();
        $('#searchQuery').on('input', getResults);
      }
      $('document').ready(setup);




    </script>


</html>