<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head> 

<header>
    <div class="container bg-light">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
          <div class="dropdown-menu">
            <button class="dropdown-item" type="button">Isbn</button>
            <button class="dropdown-item" type="button">Book title</button>
            <button class="dropdown-item" type="button">Course num.</button>
            <button class="dropdown-item" type="button">Course title</button>
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with dropdown button">
      </div>
      </div>
      <br>

    <div class="container bg-light">
        <div class="row">
            <a href="homePage"> <h1 class="text-black-50" style=text-align:left>Book Exchange</h1> </a>
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Search by:
                                <span class="caret"></span>
                            </button>
                            
                            <div class="dropdown-menu">
                                <button class="dropdown-item" type="button">Isbn</button>
                                <button class="dropdown-item" type="button">Book title</button>
                                <button class="dropdown-item" type="button">Course num.</button>
                                <button class="dropdown-item" type="button">Course title</button>
                            </div>
                          </div>
                        </div>
                        <input type="text" class="form-control" id="query" placeholder="Enter your input">
                        <input type='submit' value='Go'> 
                        <a href="profilePage"><img src="http://res.cloudinary.com/dijpr9qcs/image/upload/ze6qjgvblfhtqjw5iaat.jpg" width="60" height="49"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <br>     
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <button class="navbar-toggler bg-warning" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="profilePage"> My Profile <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="sellerPage">List a book</a>
                </li>
                            
                <li class="nav-item">
                    <a class="nav-link" href="aboutUs.html">AboutUs</a>
                </li>
                            
                <li class="nav-item">
                    <a class="nav-link" href="https://registrar.princeton.edu/course-offerings">Princeton Registrar</a>
        </div>
    </nav>

    </header>
                       
                       
                      
                     
          
    
      
    
    

  