<head>
  <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/header.css') }}"
    />
  </head>
<header>
  <span> <table class="searchBar"> </span>
    <th> <a href="homePage"> <h1> Book Exchange </h1> </a></th>
    <form name='searchType' class="searchBar" action="searchResults" method='get'>
      <th><select id="searchType" name="dropDown">
        <option value="" disabled="disabled"  style="display:none" selected="selected">Search by:</option>
	      <option value='isbn'> Isbn </option> 
	      <option value='title'> Book Title </option>
  	    <option value='crsnum'> Course Num. </option>
        <option value='crsname'> Course Title </option>
      </select> </th>
  
      <th> <input type='text' id='searchQuery' name='query' size="100" placeholder="Enter your input"> </th> 
      <th> <input type='submit' value='Go'> </th>
    </form>
    <th><a href="profilePage"><img src="http://res.cloudinary.com/dijpr9qcs/image/upload/a0asbvksyw6qmx8zdppe.jpg" width="95" height="65"></a></th>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td> <a href="profilePage"> <strong>View Profile</strong></a> </td>
    </tr>
  </table>
</header>

<table class="navBar">
  <th> </th>
  <th> </th>
  <th> <a href="profilePage"> My Profile </a></th> 
  <th> <a href="sellerPage">Sell a Book</a></th>
  <th> <a href="aboutUs">AboutUs</a> </th>
  <th> <a href="https://registrar.princeton.edu/course-offerings">Tiger Courses</a> </th>
  <th> </th>
  <th> </th>
</table>
<hr>





