<head>
  <style type="text/css">
    .navBar table{
	float:left;   
	border-spacing: 110px 0; 
    }
    .navBar th {
	width: 110px;
	text-align: left;
    }
    .navBar a{
	color: #F28500; /* fancy red color for your links*/
    }
  </style>

</head>

<header>
  <h1> Book Exchange </h1>
  <span>
    <form action='searchResults' method='get'>
      <select id="searchType" name="searches">
	<option value='isbn'> ISBN </option>
	<option value='title'> Book Title </option>
	<option value='crsnum'> Course Number </option>
	<option value='crsname'> Course Title </option>
      </select>
      <input type='text' name='query'>
      <input type='submit' value='Go'>
    </form>
  </span>
</header>

<br>
<table class="navBar">
  <th> <a href="profilePage">My Profile</a></th> 
  <th> <a href="sellerPage">Sell a Book</a></th>
  <th> <a href="https://registrar.princeton.edu/course-offerings">Princeton Regristrar</a> </th>
  <th> <a href="aboutUs">AboutUs</a> </th>
</table>
<hr>





