<!DOCTYPE html> 
<html>
    <head>
        <!-- Required meta tags -->
        <title>How to Sell</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/favicon.ico" />
        <!-- Bootstrap CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
              type="style/css"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
              
    </head>

    <body>
        {% include 'head.html' %}

        <h1 style="text-align: center; color: orange;">How to SELL a book</h1>
        <div class="list-group container">
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Create a Listing</h5>
                    <small>STEP 1</small>
                </div>
                <p class="mb-1">
                    The first step to selling a book is to create a listing.  To do so, click the link <b style="color: orange;">"Sell a Book,"</b> which will take you to a page that allows you to list a book.  
                    Then enter all the required information about the book.  After that, click submit and your book will be listed.  Then just wait for the bids to start rolling in! 
                </p>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Editing/Deleting a Listing</h5>
                    <small>STEP 2</small>
                </div>
                <p class="mb-1">
                    If you would like to edit the information on your listing, or delete it, navigate to the <b>My Profile</b>' page. Under the the
                </p>
                <small></small>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Accepting or Denying an Offer</h5>
                    <small class="text-muted">STEP 3</small>
                </div>
                <p class="mb-1">
                    On the <b>My Profile</b> section, if a buyer has placed a bid, you should be able to see it under the
                    'Current Listings' tab. You can choose to accept or deny their offer.
                </p>
                <small>If you deny the offer, the next highest bid will appear. The bids will refresh once a higher bid is placed.</small>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Payment</h5>
                    <small class="text-muted">STEP 4</small>
                </div>
                <p class="mb-1">
                    If you accept the bid, the buyer has the option to Confirm their purchase. If they do confirm,
                    then the book is sold, and you can arrange payment and physical exchange!
                </p>
                <small class="text-success">
                    You have successfully sold a book! <b>Thank you for using Book Exchange.</b>
                </small>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Payment process</h5>
                    <small class="text-muted">STEP 4a</small>
                </div>
                <p class="mb-1">
                    Talk about how we use venmo or some shit and that process
                </p>
                <small class="text-success">
                    You have successfully sold a book! <b>Thank you for using Book Exchange.</b>
                </small>
            </div>
        </div>
        {% include 'footer.html' %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"></link>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    </body>
</html>
