<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <title>How to Buy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          type="style/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

    <body>
        {% include 'head.html' %}
        <h1 style="text-align: center; color: orange;">How to BUY a book</h1>
        <div class="list-group container">
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Searching</h5>
                    <small>STEP 1</small>
                </div>
                <p class="mb-1">
                    The first step to buying a book, is using the search bar. First, pick a category to search from using the drop-down.
                    The options are: <b>Book Title, ISBN, Course Code, Course Title</b>. Based on the search category you chose, type in text representing the category, for the book you
                    are looking for. After that, hit the <b style="color: orange;">Search</b> button and the results should load!
                </p>
                </p>
                <small>You don't need to type in the full information, our matching system can detect part of the information and get you the right book!</small>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Picking a Book</h5>
                    <small>STEP 2</small>
                </div>
                <p class="mb-1">
                    Once you search, the book results should load. You should be able to identify your book based on the image of the book in the entries.
                    There is also supplementary information about the author, course title, and <b>price</b>. Once you've found a book you like, click on it to take you
                    to our buyer page.
                </p>
                <small>If you don't find the book in our Search Results, you may need to check your data entry! Otherwise, there are no sellers of your book.</small>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Bidding on a Book</h5>
                    <small class="text-muted">STEP 3-A</small>
                </div>
                <p class="mb-1">
                    On the buyer's page, more information should be shown to you. You can confirm the quality of the book by
                    clicking through the image carousel displayed. If you are confident that you want the book, please <b>place a bid</b>.
                </p>
                <small style="color: red;">Do not place a bid lower than the Lowest Ask, or higher than the Buy Now price.</small>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Buying a Book</h5>
                    <small class="text-muted">STEP 3-B</small>
                </div>
                <p class="mb-1">
                    Instead of competing in the bidding system for a book, we also provide the option to buy. The seller will have a
                    <b>Buy Now</b> price that you can meet. Hit the button if you'd like to get the book straight away. If you do, then all you
                    need to do is wait for the seller's confirmation.
                </p>
                <small class="text-muted">
                    If you navigate to the <b>My Profile</b> section, you should see a record of your bought
                    book under 'Purchased Books'.
                </small>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Bidding Confirmation</h5>
                    <small class="text-muted">STEP 4</small>
                </div>
                <p class="mb-1">
                    Once you have successfully placed a bid, you can navigate to the <b>My Profile</b> section and see your bid under
                    'Current Bids' Once the seller has seen your bid, they can accept or reject the bid. If they accept it, then you have the option to
                    confirm your bid. .
                </p>
                <small>Use the Confirm/Deny option to confirm whether you truly want the book at your bidded price.</small>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Payment</h5>
                    <small class="text-muted">STEP 5</small>
                </div>
                <p class="mb-1">After confirming the book, you will be sent through to a page to enter your <b>Venmo</b> information. After that, we
                will send a Venmo request to your account so you can pay the buyer!</p>
                <small class="text-success">
                    You have successfully bought a book! You can co-ordinate the physical book handover! 
                    <b>Thank you for using Book Exchange.</b>
                </small>
            </div>
        </div>
        {% include 'footer.html' %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"></link>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </body>
</html>