<!DOCTYPE html>
<html>
  <head>
    <style>
      div {
        width: 50px;
        padding: 5px;
        border: 1px solid gray;
        margin: 0;
        color: black;
    }  
      A{
	      text-decoration: none;
       }
    </style>
    <title> Book Exchange </title>
  </head>
  <body>
    {% include 'header.html' %}
    <h1> Recently Listed </h1>
    <br>
      {% if results is not none:  %}
        {% set length = results|length %} 
          {%  for i in range(length) %}
            <div>
              <a href="buyerPage"> Book title: {{results[i][0]}} Course name: {{results[i][1]}} Min price: {{results[i][3]}} ...</a>
            </div>
          {% endfor %}
      {% endif %}
  


    {% include 'footer.html' %}
  </body>
</html>
