<!DOCTYPE html>
<html>
  <head>
    <style>
      div {
        width: 220px;
        padding: 5px;
        border: 2px solid gray;
        margin: 10 px;
        display: inline-block;
        white-space: pre-wrap;
        text-align: left;
        font-size: 10px;
      }  

      A{
	      text-decoration: none;
        color: black;
       }
    </style>
    <title> Book Exchange </title>
  </head>
  <body>
    {% include 'header.html' %}
    <h1> Recently Listed </h1>
    <br>
      {% if results is not none:  %}
        {% set length = results|length %} 
          {%  for i in range(length) %}
            <div>
              <a href="buyerPage" method='get'> Book title: {{results[i][0]}} 
                Course name: {{results[i][1]}} 
                Min price: {{results[i][3]}} ...</a> 
            </div>
          {% endfor %}
      {% endif %}
  


    {% include 'footer.html' %}
  </body>
</html>
