<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	{% include 'head.html' %}
	<form method="get" action="logout">
		<input type="submit" name="logout" value="Logout">
	</form>

	<form method="get" action="/checkout">
		<input type="submit" name="checkout" id="checkout" value="Checkout">
	</form>

	<br>
	<h1 style="text-align: center;">Welcome {{username}}!</h1>

	<div class="accordion" id="accordionExample">
		<div class="card">
			<div class="card-header" id="headingOne">
				<h5 class="mb-0">
					<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
						aria-expanded="true" aria-controls="collapseOne">
						{% if listings|length == 0: %}
						<h3 style="text-align: left;">My Listings: </h3> <span> You have no books listed, <a
								href="sellerPage"> list one here </a> </span>
						{% else: %}
						<h3 style="text-align: left;"> My Listings: </h3>
						{% endif %}
					</button>
				</h5>
			</div>

			<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
				<div class="card-body">
					<table class="table">
						<th>Book title:</th>
						<th> </th>
						<th> Course Code: </th>
						<th> </th>
						<th> Highest Bidder ID: </th>
						<th> </th>
						<th> Highest Bid Price: </th>
						<th> </th>
						<th> Buy Now Price:</th>
						<th> </th>
						<th> Action: </th>
						<th></th>
						{% if listings|length == 0: %}
					</table>
					{% else: %}
					{%    for book in listings: %}
					<tr>
						<td>{{book["title"]}}</td>
						<td></td>
						<td>{{book["crscode"]}}</td>
						<td></td>
						<td>{{book["buyerId"]}}</td>
						<td></td>
						<td>${{book["highestBid"]}}</td>
						<td></td>
						<td>${{book["buyNow"]}}</td>
						<td></td>
						<td>
							{% if book["status"] == 'pending' %}
							<form method="POST"
								action="/profilePage?list={{book['uniqueId']}}&bidder={{book['buyerId']}}&title={{book['title']}}&highest={{book['highestBid']}}">
								<input type="submit" name="accept" id="accept" value="Accept"
									onclick="return acceptBid();">
								<input type="submit" name="decline" id="decline" value="Decline"
									onclick="return declineBid();">
							</form>
							{% else %}
							{{book["status"]}}
							{% endif %}
						</td>
						<td>
							<form action="/sellerPage" method="POST">
								<button class="glyphicon glyphicon-pencil" type="submit"
									onclick="return editListing();">
								</button>
							</form>
							{% set url = "/profilePage?deleteListingID=" + book["uniqueId"] %}
							<form action={{url}} method="POST">
								<button class="glyphicon glyphicon-trash" type="submit"
									onclick="return deleteListing();">
								</button>
							</form>
						</td>
					</tr>
					{%    endfor %}
					{% endif %}
					</table>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingTwo">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
						data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						{% if purchases|length == 0: %}
						<h3 style="text-align: left;">Claimed books: </h3> <span> You have not claimed any books, <a
								href="homePage"> search books here </a> </span>
						{% else: %}
						<h3 style="text-align: left;"> Claimed books: </h3>
						{% endif %}
					</button>
				</h5>
			</div>
			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				<div class="card-body">
					<table class="table">
						<th>Book title:</th>
						<th> </th>
						<th> Course code: </th>
						<th> </th>
						<th> Course title: </th>
						<th> </th>
						<th> List price: </th>
						<th> </th>
						<th> Accepted price: </th>
						{% if purchases|length == 0: %}
					</table>
					{% else: %}
					{%    for book in purchases: %}
					<tr>
						<td>{{book["title"]}}</td>
						<td></td>
						<td>{{book["crscode"]}}</td>
						<td></td>
						<td>{{book["crstitle"]}}</td>
						<td></td>
						<td>${{book["minPrice"]}}</td>
						<td></td>
						<td>${{book["bid"]}}</td>
					</tr>
					{%    endfor %}
					{% endif %}
					</table>


					</table>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingThree">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
						data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						{% if bids|length == 0: %}
						<h3 style="text-align: left;">Current bids: </h3> <span> You have no current bids, <a
								href="homePage"> search books here </a> </span>
						{% else: %}
						<h3 style="text-align: left;"> Current bids: </h3>
						{% endif %}
					</button>
				</h5>
			</div>
			<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
				<div class="card-body">
					<table class="table">
						<th>Book title:</th>
						<th> </th>
						<th> Course code: </th>
						<th> </th>
						<th> Course title: </th>
						<th> </th>
						<th>Seller:</th>
						<th> </th>
						<th> My offer: </th>
						<th> </th>
						<th> Offer status: </th>
						<th></th>
						{% if bids|length == 0: %}
					</table>
					{% else: %}
					{%    for book in bids %}
					<tr>
						<td>{{book["title"]}}</td>
						<td></td>
						<td>{{book["crscode"]}}</td>
						<td></td>
						<td>{{book["crstitle"]}}</td>
						<td></td>
						<td>{{book["sellerId"]}}</td>
						<td></td>
						<td>${{book["bid"]}}</td>
						<td></td>
						<td> {{book["status"]}}</td>
						{% set url = "/buyerPage?bookid=" + book["uniqueId"] %}
						<td>
							{% if book["status"] != 'accepted' %}
							<form action={{url}} method="POST">
								<button class="glyphicon glyphicon-pencil" type="submit" onclick="return editBid();">
								</button>
							</form>
							<form
								action="/profilePage?deleteBidBuyerID={{username}}&deleteBidListingID={{book['uniqueId']}}"
								method="POST">
								<button class="glyphicon glyphicon-trash" type="submit" onclick="return deleteBid();">
								</button>
							</form>
							{% endif %}
						</td>
						{% if book["status"] == "accepted" %}
						<td>
							<form method="post"
								action="profilePage?list={{book['uniqueId']}}&sellerId={{book['sellerId']}}&title={{book['title']}}&cost={{book['highestBid']}}">
								<input type="submit" name="confirm" id="confirm" value="Confirm">
								<input type="submit" name="deny" id="deny" value="Deny">
							</form>
						</td>
						{% endif %}
					</tr>
					{%   endfor %}
					{% endif %}
					</table>
				</div>
			</div>
		</div>
	</div>
	<link href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="Stylesheet">
	</link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"> </script>
	<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<script>

		'use strict';

		function acceptBid() {
			if (confirm("Are you sure you want to accept this bid?")) {
				return true;
			}
			else {
				return false;
			}

		}

		function declineBid() {
			if (confirm("Are you sure you want to decline this offer?")) {
				return true;
			}
			else {
				return false;
			}

		}

		function editListing() {

			if (confirm('Are you sure you would like to edit this listing?')) {
				return true;
			}
			else {
				return false;
			}
		}

		function deleteListing() {

			if (confirm('Are you sure you would like to delete this listing?')) {
				return true;
			}
			else {
				return false;
			}
		}

		function editBid() {
			if (confirm('Are you sure you would like to edit this bid?')) {
				return true;
			}
			else {
				return false;
			}
		}

		function deleteBid() {
			if (confirm('Are you sure you would like to delete this bid?')) {
				return true;
			}
			else {
				return false;
			}

		}

		function handleResponse(response) {
			// return array depending on search

			try {
				let results = response;

				// call jQuery autocomplete on said list
				$("#searchQuery").autocomplete({
					source: results
				});

			}
			catch (e) {
				console.log("error: ", e);
			}


		}


		let request = null;

		function getResults() {

			let searchType = $('#searchType1').val();
			searchType = encodeURIComponent(searchType);
			console.log("searchType: ", searchType);

			let query = $('#searchQuery').val();

			query = encodeURIComponent(query);
			console.log("query: ", query);

			if (searchType !== '' || searchType !== null) {
				if (query !== null || query.trim() !== '') {
					let url = 'autoComplete?searchType=' + searchType + "&query=" + query

					if (request != null) {
						request.abort();
					}

					request = $.ajax(
						{
							type: 'GET',
							url: url,
							success: handleResponse
						}

					);
				}
			}

		}
		function setup() {
			$('#searchQuery').focus();
			$('#searchQuery').on('input', getResults);
		}
		$('document').ready(setup);
	</script>

	<br>
	<br>
	{% include 'footer.html' %}



</body>

</html>