<!DOCTYPE html>
<html>
  <head>
        <style> 
            h1 {
                 text-align: center;
            }
            h3 {
                  display: inline-block;
                  line-height: 5px;
            }
            hr{
                  padding: 0px;
                  margin: 0px;
            }

            .divBox {
                  border-radius: 25px;
                  width: 99%;
                  padding: 1px;
                  border: 2px solid gray;
                  margin: 10 px;
                  background-color: #E8E8E8;
                  align-self: center;
            }

            .emptyTables th{
                  width: 200px;
                  font-size: 15px;
            }
            .emptyTables td{
                  font-size: 13px;
                  text-align: center;
            }
            .emptyTables hr{
                  color: #808080;
            }

                              
           
            .fullTables{
                  border-radius: 18px;
                  border-top-left-radius: 0px;
                  border-top-right-radius: 0px;
                  background-color: #F8F8F8;
            } 
            .fullTables th{
                  width: 200px;
                  font-size: 15px;
            } 
            .fullTables td{
                  font-size: 13px;
                  text-align: center;
            }
            .fullTables hr{
                  color: #808080;
            }   
                            
        </style>
    <title>Profile Page</title>

    <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  </head>
  
  <body>
      {% include 'header.html' %}
      <form method="get" action="logout" > 
            <input type="submit" name="logout"  value="Logout">
      </form>


            <!-- (Emmandra) This will eventually be attached to the accept button im just testing-->
      <form method="get" action="checkout">
            <input type="submit" name="checkout" id="checkout" value="Checkout">
      </form>
      <h1>Welcome {{username}}!</h1> 

      <!-- MY LISTINGS -->
      <div class= "divBox">
      {% if listings|length == 0: %}
            <h3>My Listings: </h3> <span> You have no books listed, <a href="sellerPage"> list one here </a> </span>
            <table class="emptyTables">
      {% else: %}
            <h3> My Listings: </h3>
            <table class="fullTables">
            
      {% endif %}
            <hr>
            <th>Book title:</th>
            <th> </th>
            <th> Course Code: </th>
            <th> </th>
            <th> Highest Bidder ID: </th>
            <th> </th>
            <th> Highest Bid Price: </th>
            <th> </th>
            <th> Buy Now Price:</th>
            <th> </th>
            <th> Action: </th>
            <th></th>
            {% if listings|length == 0: %}
                  </table>
            {% else: %}
                  {%    for book in listings: %}
                        <tr>
                              <td>{{book["title"]}}</td>
                              <td></td>
                              <td>{{book["crscode"]}}</td>
                              <td></td>
                              <td>{{book["buyerId"]}}</td>
                              <td></td>
                              <td>${{book["highestBid"]}}</td>
                              <td></td>
                              <td>${{book["buyNow"]}}</td>
                              <td></td>
                              <td>
                                    {% if book["status"] == 'pending' %}
                                    {% set url = "/profilePage?list=" + book["uniqueId"] + "&bidder=" + book["buyerId"] + "&title=" + book["title"] + "&cost=" + book["highestBid"] %}
                                          <form method="post", action={{url}}>
                                                <input type="submit" name="accept" id="accept" value="Accept">
                                                <input type="submit" name="decline" id="decline" value="Decline">
                                          </form>
                                    {% else %}
                                          {{book["status"]}}
                                    {% endif %}
                              </td>
                            
                              <td><form action="/sellerPage" method="POST">
                                     <button class="glyphicon glyphicon-pencil"></button>
                                  </form>
                                  {% set url = "/profilePage?deleteListingID=" + book["uniqueId"] %}
                                  <form action={{url}} method="POST">
                                     <button class="glyphicon glyphicon-trash"></button>
                                  </form>
                              </td>
                        </tr>
                  {%    endfor %}
            {% endif %}
      </table>
      </div>
    
      <br>

      <!-- MY PURCHASES -->
      <div class= "divBox">
            {% if purchases|length == 0: %}
                  <h3>Claimed books: </h3> <span> You have not claimed any books, <a href="homePage"> search books here </a> </span>
                  <table class="emptyTables">
            {% else: %}
                  <h3> Claimed books: </h3>
                  <table class="fullTables">
            {% endif %}
            <hr>
            <th>Book title:</th>
            <th> </th>
            <th> Course code: </th>
            <th> </th>
            <th> Course title: </th>
            <th> </th>
            <th> List price: </th>
            <th> </th>
            <th> Accepted price: </th>
            {% if purchases|length == 0: %}
                  </table>
            {% else: %}
                  {%    for book in purchases: %}
                        <tr>
                              <td>{{book["title"]}}</td>
                              <td></td>
                              <td>{{book["crscode"]}}</td>
                              <td></td>
                              <td>{{book["crstitle"]}}</td>
                              <td></td>
                              <td>${{book["minPrice"]}}</td>
                              <td></td>
                              <td>${{book["bid"]}}</td>
                        </tr>
                  {%    endfor %}
            {% endif %}
      </table>
      </div>

      <br>

      <!-- MY BIDS -->
      <div class= "divBox">
            {% if bids|length == 0: %}
                  <h3>Current bids: </h3> <span> You have no current bids, <a href="homePage"> search books here </a> </span>
                  <table class="emptyTables">
            {% else: %}
                  <h3> Current bids: </h3>
                  <table class="fullTables">
            {% endif %}
            <hr>
            <th>Book title:</th>
            <th> </th>
            <th> Course code: </th>
            <th> </th>
            <th> Course title: </th>
            <th> </th>
            <th>Seller:</th>
            <th> </th>
            <th> My offer: </th>
            <th> </th>
            <th> Offer status: </th>
            <th></th>
            {% if bids|length == 0: %}
                  </table>
            {% else: %}
                  {%    for book in bids: %}
                        <tr>
                              <td>{{book["title"]}}</td>
                              <td></td>
                              <td>{{book["crscode"]}}</td>
                              <td></td>
                              <td>{{book["crstitle"]}}</td>
                              <td></td>
                              <td>{{book["sellerId"]}}</td>
                              <td></td>
                              <td>${{book["bid"]}}</td>
                              <td></td>
                              <td> {{book["status"]}}</td>
                              {% set url = "/buyerPage?bookid=" + book["uniqueId"] %}
                              <td><form action={{url}} method="POST">
                                     <button class="glyphicon glyphicon-pencil"></button>
                                  </form>

                                  <form action="/profilePage?deleteBidBuyerID={{username}}&deleteBidListingID={{book['uniqueId']}}" method="POST">
                                     <button class="glyphicon glyphicon-trash"></button>
                                  </form>
                              </td>
                        </tr>
                  {%    endfor %}
            {% endif %}
      </table>
      </div>

      <link href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="Stylesheet"></link>
      <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"> </script>
      <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
      <script>
  
        'use strict';
  
  
        function handleResponse(response){
          // return array depending on search
  
          try
          {
            let results = response;
  
                    // call jQuery autocomplete on said list
            $("#searchQuery").autocomplete({
              source: results
            });
  
          }
          catch(e){
            console.log("error: ", e);
          }
  
  
        }
  
  
        let request = null;
  
        function getResults(){
  
          let searchType = $('#searchType1').val();
          searchType = encodeURIComponent(searchType);
          console.log("searchType: ", searchType);
  
          let query = $('#searchQuery').val();
       
          query = encodeURIComponent(query);
          console.log("query: ", query);
  
          if (searchType !== '' || searchType !== null){
            if(query !== null || query.trim() !== ''){
              let url = 'autoComplete?searchType=' + searchType + "&query=" + query
            
              if (request != null) {
                                request.abort();
                          }
  
                          request = $.ajax(
                                {
                                      type: 'GET',
                                      url: url, 
                                      success: handleResponse
                                }
  
                          );
            }
          }
  
              }
        function setup(){
          $('#searchQuery').focus();
          $('#searchQuery').on('input', getResults);
        }
        $('document').ready(setup);
      </script>

    <br>
    <br>
    {% include 'footer.html' %}

<!--
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
    </script>

    let request = null;
    
    <script>

       function handleResponse(response)
       {
          $('document').html(response);
       }

       function editBid(bookid)
       {
          bookID = encodeURIComponent(bookid);
          let url = '/buyerPage?bookid=' + bookid
          
          if (request != null)
             request.abort()

          request = $.ajax(
            {
               type: 'POST',
               url: url,
               success: handleResponse
            }
          )
       }
    </script> -->
  </body>
</html>
