<!DOCTYPE html>
<html>
<head>
	<meta id="dropDown" searchType="{{searchType}}">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet"
		  type="style/css"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<title> Book Exchange </title>
</head>

<body>

	{% include 'head.html' %}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 style="text-align:center"> Recently Listed </h1>
				<br>
				{% if results is not none: %}
				<div class="row">
					{% for dict in results: %}
					{% set url = "buyerPage?bookid=" + dict["uniqueId"] %}
					<div class="col-md-3 col-md-offset-2">
						<div class="thumbnail">
							<a href="{{url}}">
								<img src="{{images[dict['images']]}}" alt="Lights" width="100%" height="200" class="d-block m-auto">
								<div class="caption" style="text-align:left">
									<hr style="margin-bottom:0;margin-top:5">
									<small>
										<p>
											Book Title: {{dict["title"]}}
											<br>
											Highest bid: ${{dict["highestBid"]}}
											<br>
											Buy now: {{dict["buyNow"]}}
										</p>
									</small>
								</div>
							</a>
						</div>
					</div>
					{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	{% include 'footer.html' %}

	<link href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="Stylesheet"></link>
	<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"> </script>
	<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>

	<script>
			
			function handleResponse(response){
				// return array depending on search
				try
				{
					let results = response;

									// call jQuery autocomplete on said list
					$("#searchQuery").autocomplete({
						source: results
					});

				}
				catch(e){
					console.log("error: ", e);
				}

			}

			let request = null;

			function getResults(){
				let searchType = $('#searchType1').val();
				searchType = encodeURIComponent(searchType);
				console.log("searchType: ", searchType);

				let query = $('#searchQuery').val();

				query = encodeURIComponent(query);
				console.log("query: ", query);

				if (searchType !== '' || searchType !== null){
					if(query !== null || query.trim() !== ''){
						let url = 'autoComplete?searchType=' + searchType + "&query=" + query
					
						if (request != null) {
							request.abort();
						}

						request = $.ajax(
							{
								type: 'GET',
								url: url, 
								success: handleResponse
							}

						);
					}
				}

			}

			function setQuery() {
				query1 = "" + "{{query|safe}}";
				let query = $('#searchQuery');

				query.val(query1);

				var searchType = "{{searchType|safe}}";
				console.log(searchType);
				let dropDown = $('#searchType1');
				if (searchType == 1){
					dropDown.val("isbn");
				}
				else if (searchType == 2){
					console.log("inside #2")
					dropDown.val("title");
				}
				else if(searchType == 3){
					dropDown.val("crscode");
				}
				else if(searchType == 4){
					dropDown.val("crstitle");
				}

			}
			function setup(){
				$('#searchQuery').focus()
				setQuery();
				$('#searchQuery').on('input', getResults);
			}

			$('document').ready(setup);
		</script>
	</body>
</html>



	

