h1 {
  text-align: center;
}

.buyer-container {
  border: 2px solid green;
  width: 100%;
  padding: 1em;
  display: flex;
}

.body-img {
  width: 100%;
  height: auto;
  display: inline-block;
  border: 2px solid green;
}

.img-container {
  display: inline-block;
  width: 20%;
  height: 20%;
}

.info-container {
  display: inline-block;
  width: 60%;
  padding: 1em;
  border: magenta solid 2px;
}

.another-container {
  display: flex;
}

span {
  font-weight: bold;
}

.book-info {
  display: inline;
  width: 40%;
}

.purchase-info {
  display: inline;
  width: 40%;
  border: 1px solid black;
  padding: 0.5em;
  border-radius: 1em;
  background-color: #f5f5f5;
  box-shadow: 0.5em 0.5em 0.5em #f5f5f5;
}

.purchase-info div {
  width: 100%;
}

.width {
  width: 100%;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
