h1 {
  text-align: center;
}

.buyer-container {
  border: 2px solid green;
  width: 100%;
  padding: 1em;
}

.body-img {
  width: 30%;
  height: 100%;
  display: inline-block;
  border: 2px solid green;
}

.info-container {
  display: inline-block;
  width: 60%;
  padding: 1em;
  border: magenta solid 2px;
}

span {
  font-weight: bold;
}
