html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.title {
  display: inline-block;
  color: #383838;
  text-align: center;
  font-weight: bold;
}

option {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.orange {
  color: orange;
}

A {
  text-decoration: none;
}

table {
  display: inline-block;
  overflow: hidden;
  width: 100%;
}

th input {
  padding-right: 0;
  padding-left: 0;
}

.searchBar A {
  color: #383838;
}

.searchBar {
  width: 100%;
  border-bottom: 1px solid orange;
}

.text-field {
  color: black;
  background-color: #f2f3f4;
  border: 2px solid orange;
  border-radius: 1em;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.go-btn {
  border-radius: 1em;
  color: black;
  background-color: orange;
}

.selector {
  color: black;
  border: 2px solid orange;
  border-radius: 1em;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  height: 2em;
}

.nav {
  width: 100%;
  text-align: center;
  margin-top: 3em;
  display: inline-block;
  height: 3em;
  font-size: 1.5em;
}

.nav div {
  width: 20%;
  border-right: 1px solid black;
  display: inline-block;
  height: 100%;
}

.last-div {
  border-right: 0;
}

nav a {
  display: block;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.horizontal-rule {
  border: 0.5px solid orange;
  width: 100%;
  text-align: center;
  display: block;
  opacity: 50%;
}

.header-entry {
  padding-left: 2em;
  padding-right: 2em;
  background-color: yellow;
}

.padding-left {
  padding-left: 2em;
}

.padding-right {
  padding-right: 2em;
}

.input-box {
  border: orange 2px solid;
  height: 2em;
  border-left: 0;
  padding-left: 1em;
}

.go-btn {
  border-radius: 2em;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: 2px solid orange;
  height: 2em;
  border-left: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.btn-info {
  background-color: orange;
  border-color: black;
  margin: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}
