html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.info {
  display: inline-block;
  border: 2px solid orange;
  border-radius: 1em;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  width: 15%;
  height: 15%;
  margin-right: 1em;
}

.info div {
  text-overflow: ellipsis;
  height: 20%;
  font-size: 0.8em;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.recently-listed {
  text-align: center;
  color: orange;
}

.results-container {
  width: 100%;
  display: inline-flexbox;
  padding-left: 1em;
  padding-right: 1em;
}
